<template>
  <div>
    <h1>Foodybox.nl</h1>

    <a href="/register"> Klik hier om te registreren</a>
    </br>
    <a href="/login"> Klik hier om in te inloggen</a>
  </div>
</template>

<script>
export default {}
</script>
