<template>
  <!-- component -->
  <div class="flex flex-col justify-center min-h-screen bg-gray-100 sm:py-12">
    <div class="p-10 mx-auto xs:p-0 md:w-full md:max-w-md">
      <h1 class="mb-5 text-2xl font-bold text-center"><Foodybox /></h1>
      <div class="w-full bg-white divide-y divide-gray-200 rounded-lg shadow">
        <form @submit.prevent="registerUser">
          <div class="px-5 py-7">
            <label class="block pb-1 text-sm font-semibold text-gray-600"
              >Gebruikersnaam</label
            >
            <input
              type="text"
              class="w-full px-3 py-2 mt-1 mb-5 text-sm border rounded-lg"
              v-model="user.username"
            />
            <label class="block pb-1 text-sm font-semibold text-gray-600"
              >Wachtwoord</label
            >
            <input
              type="password"
              class="w-full px-3 py-2 mt-1 mb-5 text-sm border rounded-lg"
              v-model="user.password"
            />
            <button
              type="submit"
              value="Submit"
              class="
                transition
                duration-200
                bg-blue-500
                hover:bg-blue-600
                focus:bg-blue-700
                focus:shadow-sm
                focus:ring-4
                focus:ring-blue-500
                focus:ring-opacity-50
                text-white
                w-full
                py-2.5
                rounded-lg
                text-sm
                shadow-sm
                hover:shadow-md
                font-semibold
                text-center
                inline-block
              "
            >
              <span class="inline-block mr-2">Inloggen</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="inline-block w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8l4 4m0 0l-4 4m4-4H3"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div class="py-5">
        <div class="grid grid-cols-2 gap-1">
          <div class="text-center sm:text-left whitespace-nowrap">
            <button
              class="px-5 py-4 mx-5 text-sm font-normal text-gray-500 transition duration-200 rounded-lg cursor-pointer  hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="inline-block w-4 h-4 align-text-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                />
              </svg>
              <span class="inline-block ml-1">Terug naar foodybox.nl</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      user: {
        username: '',
        password: '',
      },

      errors: [],
    }
  },

  methods: {
    registerUser() {
      axios
        .post('https://localhost:8080/authenticate', this.user)
        .then((Response) => {
          console.log(Response)
        })
        .catch((err) => {
          this.errors.push(err)
        })
    },
  },
}
</script>
